<div class="container-main" layout='column' layout-align="center center">
	<div class="header">
		CoWIN Vaccine Slot Notifier
	</div>
	<div class="description" layout='row' layout-align="center center">Search for your nearest vaccination center using State and District Names</div>
	<div class="filters" layout='row' layout-xs="column" layout-align="center center">
		<md-input-container>
          <label>Select State</label>
          <md-select ng-model="local.selectedState" ng-change="selectState();">
            <md-option><em>None</em></md-option>
            <md-option  ng-repeat="state in metaData.states" ng-value="{{state.state_id}}" >
              {{state.state_name}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container >
          <label>Select District</label>
          <md-select ng-model="local.selectedDistrict" ng-disabled="!local.selectedState || options.loadingDistricts">
            <md-option><em>None</em></md-option>
            <md-option  ng-repeat="d in metaData.districts.districts" ng-value="{{d.district_id}}">
              {{d.district_name}}
            </md-option>
          </md-select>
        </md-input-container>
        <div class="actions">
	        <md-button class="md-raised md-primary" ng-disabled="!local.selectedState || !local.selectedDistrict" ng-click="fetchSlotsData();">Submit</md-button>
	        <md-button class="md-raised md-accent" ng-if="local.selectedState && local.selectedDistrict" ng-click="subscribe();">Subscribe</md-button>
	    </div>
	</div>

	<div class="table-data">
		<mdt-table table-card="{title: 'Nutritions'}" > 
			<mdt-header-row>
		      <mdt-column align-rule="left"><span>Dessert (100g serving)</span></mdt-column>
		      <mdt-column align-rule="right"><span>Calories</span></mdt-column>
		      <mdt-column align-rule="right"><span>Fat (g)</span></mdt-column>
		      <mdt-column align-rule="right"><span>Carbs (g)</span></mdt-column>
		      <mdt-column align-rule="right"><span>Protein (g)</span></mdt-column>
		      <mdt-column align-rule="right"><span>Sodium (mg)</span></mdt-column>
		      <mdt-column align-rule="right"><span>Calcium (%)</span></mdt-column>
		      <mdt-column align-rule="right"><span>Iron (%)</span></mdt-column>
		    </mdt-header-row>

		    <mdt-row 
             ng-repeat="nutrition in nutritionList"
             table-row-id="nutrition.id">
		      <mdt-cell><span>{{nutrition.name}}</span></mdt-cell>
		      <mdt-cell><span>{{nutrition.calories}}</span></mdt-cell>
		      <mdt-cell><span>{{nutrition.fat}}</span></mdt-cell>
		      <mdt-cell><span>{{nutrition.carbs}}</span></mdt-cell>
		      <mdt-cell><span>{{nutrition.protein}}</span></mdt-cell>
		      <mdt-cell><span>{{nutrition.sodium}}</span></mdt-cell>
		      <mdt-cell><span>{{nutrition.calcium}}</span></mdt-cell>
		      <mdt-cell><span>{{nutrition.iron}}</span></mdt-cell>
		    </mdt-row>
	  	</mdt-table>
	</div>
</div>