<div class="container-main" layout='column' layout-align="center center">
	
	<div class="description" layout='row' layout-align="center center">Search for your nearest vaccination center using State and District Names (only for 18+ age). It will automatically refresh the latest data every minute for selected district.</div>
	<div class="filters" layout='row' layout-xs="column"  layout-align="center center">
		<md-input-container>
          <label>Select State</label>
          <md-select ng-model="local.selectedState" ng-change="selectState();">
            <md-option  ng-repeat="state in metaData.states" ng-value="{{state.state_id}}" >
              {{state.state_name}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container >
          <label>Select District</label>
          <md-select ng-model="local.selectedDistrict" ng-disabled="!local.selectedState || options.loadingDistricts" ng-change="fetchSlotsData();">
            <md-option  ng-repeat="d in metaData.districts" ng-value="{{d}}">
              {{d.district_name}}
            </md-option>
          </md-select>
        </md-input-container>
        <!-- <div class="actions">
	        <md-button class="md-raised md-primary" ng-disabled="!local.selectedState || !local.selectedDistrict" ng-click="fetchSlotsData();">Submit</md-button>
	    </div> -->
	</div>
	<!-- <div class="subscription-message"  ng-if="local.selectedState && local.selectedDistrict" >
		<span>Get alerts when any slot is opened in your district.</span>
		<md-button class="md-raised md-warn"  ng-click="enableNotification();">Subscribe</md-button>
	</div> -->
	<div class="table-data md-whiteframe-z1" ng-if="dataToShow && !loadingData">
		<div class="last-time" layout="row" layout-align="space-between center" layout-xs="column" layout-align-xs="center start">
			<h2 class="title" layout="column">
				<span>Slots Information for {{local.selectedDistrict.district_name}}</span>
				<span class="status">
					<div class="badge-wrapper" layout="row" layout-align="space-between center">
					  <span ng-if="dataToShow && dataToShow.length > 0" class="badge">Available</span>
					  <span class="link" ng-click="goToCowin();" ng-if="dataToShow && dataToShow.length > 0">Book your slot now on CoWIN site</span>
					  <span ng-show="!dataToShow || dataToShow.length == 0" class="badge badge-not">Not available</span>
					</div>
				</span>
			</h2>
			<div class="time-info" layout="column">
				<strong>Last updated on {{lastDataFetchedString}}</strong>
				<span> Next Refresh in {{secondsGap}} seconds</span>
				<span class="link" ng-click="fetchSlotsData();" ng-if="dataToShow && dataToShow.length > 0">Refresh Now</span>
			</div>
		</div>
		<mdt-table ng-if="dataToShow && dataToShow.length > 0" style="display: none;"> 
			<mdt-header-row >
		      <mdt-column align-rule="left"><span>Date</span></mdt-column>
		      <mdt-column align-rule="right"><span>No of Vaccine Centers</span></mdt-column>
		      <mdt-column align-rule="right"><span>Available Centers</span></mdt-column>
		      <mdt-column align-rule="right"><span>Slots availability</span></mdt-column>

		    </mdt-header-row>

		    <mdt-row 
             ng-repeat="rowData in dataToShow"
             table-row-id="key">
		      <mdt-cell><span>{{rowData.date}}</span></mdt-cell>
		      <mdt-cell><span>{{rowData.centers}}</span></mdt-cell>
		      <mdt-cell><span>{{rowData.available_centers}}</span></mdt-cell>
		      <mdt-cell ><span>{{rowData.shots}}</span></mdt-cell>
		    </mdt-row>
	  	</mdt-table>

	  	<md-grid-list ng-if="dataToShow && dataToShow.length > 0"
        	md-cols-xs="1" md-cols-sm="2" md-cols-gt-sm="4" 
        	md-row-height-gt-md="1:1" md-row-height="2:2"
        	md-gutter="12px" md-gutter-gt-sm="8px" >

		    <md-grid-tile class="gray" ng-repeat="rowData in dataToShow" >
	    	<!--  	<md-grid-tile-header>
				    <h3>{{rowData.date}}</h3>
			  	</md-grid-tile-header> -->
			  	<div class="tile-content" layout="column" layout-align="start start">
			  		<h3>{{rowData.date}}</h3>
			  		<div class="tile-content-row" layout="row" layout-align="space-between center">
			  			<div class="label">Total Centers</div>
			  			<div class="value">{{rowData.centers}}</div>
			  		</div>
			  		<div class="tile-content-row" layout="row" layout-align="space-between center">
			  			<div class="label">Available Centers</div>
			  			<div class="value">{{rowData.available_centers}}</div>
			  		</div>
			  		<div class="tile-content-row" layout="row" layout-align="space-between center">
			  			<div class="label">Slots</div>
			  			<div class="value">{{rowData.shots}}</div>
			  		</div>
			  		<div class="tile-content-row" layout="row" layout-align="space-between center">
		  				<div class="nested-row slot_18" layout="row" layout-align="space-between center">
				  			<div class="label">18+ Slots:</div>
				  			<div class="value">{{rowData.shots_18}}</div>
				  		</div>
				  		<div class="nested-row slot_45" layout="row" layout-align="space-between center">
				  			<div class="label">45+ Slots:</div>
				  			<div class="value">{{rowData.shots_45}}</div>
				  		</div>
			  			
			  		</div>
			  		<div class="tile-content-row" layout="row" layout-align="space-between center">
		  				<div class="nested-row dose_1" layout="row" layout-align="space-between center">
				  			<div class="label">Dose 1:</div>
				  			<div class="value">{{rowData.shots_dose1}}</div>
				  		</div>
				  		<div class="nested-row dose_2" layout="row" layout-align="space-between center">
				  			<div class="label">Dose 2:</div>
				  			<div class="value">{{rowData.shots_dose2}}</div>
				  		</div>
			  		</div>

			  	</div>
		      	<!-- <md-grid-tile-footer>
		        	<h3 ng-click="goToCowin();">Book on CoWIN</h3>
		      	</md-grid-tile-footer> -->
		    </md-grid-tile>

		    
		</md-grid-list>


	  	<div class="no-slots" ng-show="!dataToShow || dataToShow.length == 0">
	  		No Vaccine slots currrently open for your district.&nbsp; 
	       <span class="link" ng-click="fetchSlotsData();">Refresh Now</span>
	  	</div>
	</div>
	<div class="loader" ng-if="loadingData">
		<md-progress-circular md-diameter="40px"></md-progress-circular>
	</div>

</div>

